/* Heading styles */
.header {
  background-color: rgba(255, 144, 14, 0.1);
  font-family: "Work Sans", sans-serif;
}
.heading {
  font-weight: 700;
  font-size: 50px;
  margin-left: 50px;
}
.Nav-section {
  display: flex;
}
.Navbar {
  margin-top: 40px;
  margin-left: 800px;
}
@media screen and (max-width: 576px) {
  .Navbar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.nav-text {
  text-decoration: none;
  color: #424242;
  font-size: 20px;
  padding: 25px;
}
.heading-part {
  text-align: center;
}
.heading-2 {
  font-weight: 700;
  font-size: 60px;
}
.heading-btn {
  color: white;
  background-color: orange;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  position: absolute;
  top: 450px;
  left: 850px;
  font-size: 15px;
}
.heading-img {
  margin-top: 200px;
}
/* Heading styles end  */

/* Body part - 1  */

.body-1 {
  display: flex;
  font-family: "Work Sans", sans-serif;
}
.team {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-left: 300px;
  margin-top: 100px;
}
@media screen and (max-width: 576px) {
  .team {
    grid-template-columns: repeat(1, 1fr);
  }
}
.team-img {
  padding: 20px;
}
.body-header {
  margin-top: 300px;
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
}
.body-text {
  color: #424242;
  font-size: 15px;
  margin-left: 20px;
}
.body-btn {
  color: white;
  background-color: orange;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  top: 450px;
  left: 850px;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 30px;
}

/* Body part - 1 end */

/* Body part-2  */
.body-2 {
  display: flex;
  font-family: "Work Sans", sans-serif;
}
.border {
  position: absolute;
  background-color: #ff900e;
  width: 6px;
  height: 100px;
  margin-left: 200px;
  margin-top: 70px;
}
.heading-3 {
  position: absolute;
  margin-left: 250px;
  margin-top: 70px;
  font-size: 45px;
}
.features {
  margin-left: 250px;
  border: 1px solid white;
  margin-top: 25px;
  box-shadow: 30px 30px 20px rgba(255, 144, 14, 0.1);
}
.body-img {
  margin-top: 70px;
  margin-left: 80px;
  height: 900px;
}
.body-btn-2 {
  position: absolute;
  height: 100px;
  width: 200px;
  top: 3070px;
  left: 900px;
  background-color: #ff900e;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 10px;
}
/* Body part-2 end  */

/* Body part-3  */

.body-3 {
  font-family: "Work Sans", sans-serif;
  margin-top: 200px;
}
.body-header-2 {
  font-size: 40px;
  margin-left: 250px;
}
.body-text-2 {
  color: #424242;
  margin-left: 250px;
}
.icon {
  display: flex;
}
.icons {
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 50px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  height: 200px;
  width: 400px;
  box-shadow: 20px 20px 20px rgba(255, 144, 14, 0.1);
}
.icons:hover {
  color: blue;
  background-color: orange;
}

/* Body part-3 end */

/* Body part-4  */
.body-4 {
  font-family: "Work Sans", sans-serif;
  margin-top: 200px;
}
.Heading-4 {
  font-size: 60px;
  margin-left: 800px;
}
.body-text-3 {
  margin-left: 750px;
}
.icons-2 {
  padding: 50px;
  margin-left: 80px;
  margin-top: 50px;
}

/* Body part-4 end  */

/* footer  */
.footer {
  background-color: antiquewhite;
  height: 50px;
  width: 50%;
  margin-left: 450px;
  text-align: center;
  margin-top: 100px;
  border-radius: 20px;
}
/* footer end  */
